body{

    background:
    radial-gradient(circle at top,
  rgba(255,203,5,.08),
    transparent 40%),
  #0f172a;

    color:white;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding: 20px 60px;

    background:#111827;

    margin-bottom:40px;

    border-bottom:1px solid #243043;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:30px;

}

.nav-links li{

    cursor:pointer;

    transition:0.3s;

}

.nav-links li:hover{

    color:#ffcb05;

    transform:translateY(-2px);
}

h1{

    margin:0;
}

/* Remove default spacing */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
}

.logo{

    font-size:28px;

    font-weight:bold;
    
    color:#ffcb05;
}

.hero{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:80vh;

    text-align:center;

    width:100%;

}

.hero h1{

    font-size:56px;

    font-weight:700;

    margin-bottom:25px;

    line-height:1.1;

    max-width:900px;

}

.hero p{

    color:#94a5b8;

    font-size:22px;

    margin-bottom:40px;


}








.types{

    text-align:center;

    margin-top:40px;

}

.types h2{

    font-size:32px;

    margin-bottom:30px;


}

.type-container{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;
}

.type{

    padding: 14px 28px;

    border:none;

    border-radius:30px;

    font-size:18px;

    transition:all 0.3s ease;

    color:white;

    font-weight:600;

}
/* ===========================
   Pokemon Type Colors
=========================== */

.normal{
    background:#A8A77A;
}

.fire{
    background:#EE8130;
}

.water{
    background:#6390F0;
}

.electric{
    background:#F7D02C;
    color:black;
}

.grass{
    background:#7AC74C;
}

.ice{
    background:#96D9D6;
    color:black;
}

.fighting{
    background:#C22E28;
}

.poison{
    background:#A33EA1;
}

.ground{
    background:#E2BF65;
    color:black;
}

.flying{
    background:#A98FF3;
}

.psychic{
    background:#e33368;
}

.bug{
    background:#A6B91A;
}

.rock{
    background:#B6A136;
}

.ghost{
    background:#735797;
}

.dragon{
    background:#471daf;
}

.dark{
    background:#705746;
}

.steel{
    background:#B7B7CE;
    color:black;
}

.fairy{
    background:#D685AD;
}

.type:hover{

    transform:translateY(-5px);

    box-shadow: 0 10px 25px rgba(0,0,0,.35);
}

.pokemon-section{

    width:90%;

    max-width:1200px;

    margin:80px auto;


}

.pokemon-section h2{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

}

.pokemon-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit, minmax(280px,1fr));

    gap:35px;

}





.badges{

    display:flex;

    justify-content:center;

    gap:10px;

    margin:15px 0;


}

.badge{

    padding:6px 12px;

    border-radius:20px;

    font-size:14px;

    font-weight:bold;


}



.card:hover{

    transform:translateY(-12px);

    box-shadow:0 25px 50px rgba(0,0,0,.4);

}

.stats{

    margin-top:20px;

    line-height:2;


}

.pokemon-modal{

    
    display:none;

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.7);

    justify-content:center;

    align-items:center;

    z-index:999;

}

.modal-content{

    width:700px;

    max-width:90%;

    max-height:90vh;

    overflow-y:auto;

    background:#1E293B;

    border-radius:20px;

    padding:35px;

    position:relative;

    animation:popup .35s ease;

}

.close-btn{

    position:absolute;

    top:15px;

    right:20px;

    font-size:35px;

    cursor:pointer;

    color:white;

}

/* ===========================
   Loading Spinner
=========================== */

.loader-container{

    display:none;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    margin:80px auto;

    color:white;

    font-size:18px;

    font-weight:600;

    gap:20px;

}

.pokeball-loader{

    width:70px;

    height:70px;

    border-radius:50%;

    background:linear-gradient(
        to bottom,
        #ff3b30 50%,
        white 50%
    );

    border:4px solid #222;

    position:relative;

    animation:spinBounce 1.2s ease-in-out infinite;

}

.pokeball-loader::before{

    content:"";

    position:absolute;

    top:50%;

    left:0;

    width:100%;

    height:4px;

    background:#222;

    transform:translateY(-50%);

}

.pokeball-loader::after{

    content:"";

    position:absolute;

    top:50%;

    left:50%;

    width:18px;

    height:18px;

    background:white;

    border:4px solid #222;

    border-radius:50%;

    transform:translate(-50%,-50%);

}

@keyframes spin{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}

@keyframes spinBounce{

    0%{
        transform:rotate(0deg) translateY(0);
    }

    25%{
        transform:rotate(90deg) translateY(-8px);
    }

    50%{
        transform:rotate(180deg) translateY(0);
    }

    75%{
        transform:rotate(270deg) translateY(-8px);
    }

    100%{
        transform:rotate(360deg) translateY(0);
    }

}

@keyframes popup{

    from{

        transform:scale(.8);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}


.card{

    background:#1e293b;

    border-radius:20px;

    padding:35px 30px;

    text-align:center;

    box-shadow:0 15px 35px rgba(0,0,0,0.25);

    transition:0.35s ease;

}

.card:hover{

    transform:translateY(-12px) scale(1.03);

    box-shadow:0 25px 45px rgba(0,0,0,.4);

}

.card img{

    padding:0 30px;

    height:170px;

    object-fit:contain;

    transition:.4s;

}

.card:hover img{

    transform:scale(1.1)rotate(-5deg);

}

.card h3{

    font-size:28px;

    margin-top:15px;

    color:white;

}

.poke mon-id{

    color:#94a3b8;

    font-size:15px;

    letter-spacing:2px;

}

.stats{
    display:flex;

    justify-content:space-around;

    margin-top:20px;

}

.stats p{

    display:flex;

    flex-direction:column;

    gap:5px;

    font-size:15px;

}

.details-btn{

    width:100%;

    margin-top:25px;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#ffcb05;

    color:#222;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.details-btn:hover{

    transform:scale(1.05);

    background:#f5b301;

}

.card.electric{
    background:rgba(247,208,44,0.12);
}

.card.fire{
    background:rgba(238,129,48,0.12);
}

.card.grass{
    background:rgba(122,199,76,0.12);
}

.card.ghost{
    background:rgba(115,87,151,0.12);
}

.card.electric:hover{
    box-shadow: 0 20px 40px rgba(247,208,44,0.35);
}

.card.fire:hover{
    box-shadow: 0 20px 40px rgba(238,129,48,0.35);
}

.card.grass:hover{
    box-shadow: 0 20px 40px rgba(122,199,76,0.35);
}

.card.ghost:hover{
    box-shadow: 0 20px 40px rgba(115,87,151,0.35);
}


.search-container{

    display:flex;

    border-radius:22px;

    justify-content:center;

    align-items:center;

    padding:10px;

    gap:15px;

    margin:50px auto;

    flex-wrap:wrap;

}

.search-box{

    flex:1;

    width:500px;

    max-width:90%;

    height:60px;

    max-width:90%;

    padding:0 20px;

    border:none;

    border-radius:40px;

    outline:none;

    font-size:20px;

    background:#1E293B;

    color:white;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.3s;

}

.search-box:focus{

    box-shadow:0 0 20px rgba(255,203,5,.5);

}

.search-btn{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    padding:0px 35px;

    width:170px;

    height:60px;

    border:none;

    border-radius:40px;

    background:#FFCB05;

    color:#222;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.search-btn:hover{

    background:#F5B301;

    transform:translateY(-3px);

}

.modal-body{

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

}

.modal-image{

    width:220px;

    height:220px;

    object-fit:contain;

    diplay:block;

    margin-bottom:0 auto 20px;



}

.modal-types{

    display:flex;

    justify-content:center;

    gap:10px;

    flex-wrap:wrap;

    margin:20px 0;

}

.modal-info{

    margin:25px 0;

    line-height:2;

    text-align:center;

}

.modal-info p{

    font-size:10px;

}

/* ===== Abilities ===== */

.abilities{

    display:flex;

    justify-content:center;

    gap:12px;

    flex-wrap:wrap;

    margin-top:20px;


}

.ability{

    background:#334155;

    color:white;

    padding:10px 10px;

    border-radius:20px;

    font-weight:600;
}

/* ==========================
   Modal Stats
========================== */

.stats-container{

    width:100%;

    margin-top:25px;


}

.stat{

    margin-bottom:18px;
}

.stat-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:8px;

    font-weight:600;

    font-size:16px;

}

.stat-bar{

    width:100%;

    height:12px;

    background:#334115;

    border-radius:1px;

    overflow:hidden;

}

.stat-fill{

    height:100%;

    border-radius:10px;

    transition:width .5s ease;

}

@keyframes fillBar{

    from{

        width:0;
    }
}
